=begin
#Daily API

#The Daily REST API offers the ability to manage the following:  - Overall Domain Configuration - Individual Room creation and config management  - Meeting token creation and validation - Recording and compositing management  - Meeting analytics - Logs and metrics - Real-time presence  Please reach out to help@daily.co if we can help with anything

The version of the OpenAPI document: 1.1.1
Contact: help@daily.co
Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module Daily
  class DialinApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # /dialin/pinlessCallUpdate
    # Direct a SIP or PSTN call on hold to a specified SIP URI associated to a Daily Room.
    # @param [Hash] opts the optional parameters
    # @option opts [PinlessCallUpdateRequest] :pinless_call_update_request 
    # @return [nil]
    def pinless_call_update(opts = {})
      pinless_call_update_with_http_info(opts)
      nil
    end

    # /dialin/pinlessCallUpdate
    # Direct a SIP or PSTN call on hold to a specified SIP URI associated to a Daily Room.
    # @param [Hash] opts the optional parameters
    # @option opts [PinlessCallUpdateRequest] :pinless_call_update_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def pinless_call_update_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DialinApi.pinless_call_update ...'
      end
      # resource path
      local_var_path = '/dialin/pinlessCallUpdate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'pinless_call_update_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['sec0']

      new_options = opts.merge(
        :operation => :"DialinApi.pinless_call_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DialinApi#pinless_call_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
