=begin
#Daily API

#The Daily REST API offers the ability to manage the following:  - Overall Domain Configuration - Individual Room creation and config management  - Meeting token creation and validation - Recording and compositing management  - Meeting analytics - Logs and metrics - Real-time presence  Please reach out to help@daily.co if we can help with anything

The version of the OpenAPI document: 1.1.1
Contact: help@daily.co
Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module Daily
  class DomainDialinConfigApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # create new config
    # create a new pinless_dialin or pin_dialin config
    # @param [Hash] opts the optional parameters
    # @option opts [DomainDialinConfigCreateReq] :domain_dialin_config_create_req 
    # @return [DomainDialinConfigInfoRes]
    def create_domain_dial_config_info(opts = {})
      data, _status_code, _headers = create_domain_dial_config_info_with_http_info(opts)
      data
    end

    # create new config
    # create a new pinless_dialin or pin_dialin config
    # @param [Hash] opts the optional parameters
    # @option opts [DomainDialinConfigCreateReq] :domain_dialin_config_create_req 
    # @return [Array<(DomainDialinConfigInfoRes, Integer, Hash)>] DomainDialinConfigInfoRes data, response status code and response headers
    def create_domain_dial_config_info_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainDialinConfigApi.create_domain_dial_config_info ...'
      end
      # resource path
      local_var_path = '/domain-dialin-config'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'domain_dialin_config_create_req'])

      # return_type
      return_type = opts[:debug_return_type] || 'DomainDialinConfigInfoRes'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DomainDialinConfigApi.create_domain_dial_config_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainDialinConfigApi#create_domain_dial_config_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # domain-dialin-config/:id
    # Delete a given pinless_dialin or pin_dialin config
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteDomainDialinConfig200Response]
    def delete_domain_dialin_config(id, opts = {})
      data, _status_code, _headers = delete_domain_dialin_config_with_http_info(id, opts)
      data
    end

    # domain-dialin-config/:id
    # Delete a given pinless_dialin or pin_dialin config
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteDomainDialinConfig200Response, Integer, Hash)>] DeleteDomainDialinConfig200Response data, response status code and response headers
    def delete_domain_dialin_config_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainDialinConfigApi.delete_domain_dialin_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainDialinConfigApi.delete_domain_dialin_config"
      end
      # resource path
      local_var_path = '/domain-dialin-config/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDomainDialinConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DomainDialinConfigApi.delete_domain_dialin_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainDialinConfigApi#delete_domain_dialin_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # domain-dialin-config/:id
    # Get info about an existing pinless_dialin or pin_dialin config
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DomainDialinConfigInfoRes]
    def get_domain_dialin_config_info(id, opts = {})
      data, _status_code, _headers = get_domain_dialin_config_info_with_http_info(id, opts)
      data
    end

    # domain-dialin-config/:id
    # Get info about an existing pinless_dialin or pin_dialin config
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainDialinConfigInfoRes, Integer, Hash)>] DomainDialinConfigInfoRes data, response status code and response headers
    def get_domain_dialin_config_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainDialinConfigApi.get_domain_dialin_config_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainDialinConfigApi.get_domain_dialin_config_info"
      end
      # resource path
      local_var_path = '/domain-dialin-config/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainDialinConfigInfoRes'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DomainDialinConfigApi.get_domain_dialin_config_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainDialinConfigApi#get_domain_dialin_config_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # /domain-dialin-config
    # List all the pinless_dialin and pin_dialin configs for the domain, with pagination
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :ending_before 
    # @option opts [String] :starting_after 
    # @option opts [String] :phone_number 
    # @option opts [String] :phone_numbers a comma separated list of phone numbers to filter by. The filter will match any phone number that contains the provided numbers as a substring (partial match).
    # @option opts [String] :sip_username The sip username associated with this dial-in config (only the username part of the sip uri)
    # @option opts [String] :name_prefix 
    # @option opts [String] :type The type of dial-in config. It can be pinless_dialin or pin_dialin.
    # @return [ListDomainDialinConfigs200Response]
    def list_domain_dialin_configs(opts = {})
      data, _status_code, _headers = list_domain_dialin_configs_with_http_info(opts)
      data
    end

    # /domain-dialin-config
    # List all the pinless_dialin and pin_dialin configs for the domain, with pagination
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :ending_before 
    # @option opts [String] :starting_after 
    # @option opts [String] :phone_number 
    # @option opts [String] :phone_numbers a comma separated list of phone numbers to filter by. The filter will match any phone number that contains the provided numbers as a substring (partial match).
    # @option opts [String] :sip_username The sip username associated with this dial-in config (only the username part of the sip uri)
    # @option opts [String] :name_prefix 
    # @option opts [String] :type The type of dial-in config. It can be pinless_dialin or pin_dialin.
    # @return [Array<(ListDomainDialinConfigs200Response, Integer, Hash)>] ListDomainDialinConfigs200Response data, response status code and response headers
    def list_domain_dialin_configs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainDialinConfigApi.list_domain_dialin_configs ...'
      end
      # resource path
      local_var_path = '/domain-dialin-config'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'phone_number'] = opts[:'phone_number'] if !opts[:'phone_number'].nil?
      query_params[:'phone_numbers'] = opts[:'phone_numbers'] if !opts[:'phone_numbers'].nil?
      query_params[:'sip_username'] = opts[:'sip_username'] if !opts[:'sip_username'].nil?
      query_params[:'name_prefix'] = opts[:'name_prefix'] if !opts[:'name_prefix'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListDomainDialinConfigs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DomainDialinConfigApi.list_domain_dialin_configs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainDialinConfigApi#list_domain_dialin_configs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # domain-dialin-config/:id
    # update an existing pinless_dialin or pin_dialin config
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DomainDialinConfigUpdateReq] :domain_dialin_config_update_req 
    # @return [DomainDialinConfigInfoRes]
    def update_domain_dial_config_info(id, opts = {})
      data, _status_code, _headers = update_domain_dial_config_info_with_http_info(id, opts)
      data
    end

    # domain-dialin-config/:id
    # update an existing pinless_dialin or pin_dialin config
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DomainDialinConfigUpdateReq] :domain_dialin_config_update_req 
    # @return [Array<(DomainDialinConfigInfoRes, Integer, Hash)>] DomainDialinConfigInfoRes data, response status code and response headers
    def update_domain_dial_config_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainDialinConfigApi.update_domain_dial_config_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainDialinConfigApi.update_domain_dial_config_info"
      end
      # resource path
      local_var_path = '/domain-dialin-config/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'domain_dialin_config_update_req'])

      # return_type
      return_type = opts[:debug_return_type] || 'DomainDialinConfigInfoRes'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DomainDialinConfigApi.update_domain_dial_config_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainDialinConfigApi#update_domain_dial_config_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
