=begin
#Daily API

#The Daily REST API offers the ability to manage the following:  - Overall Domain Configuration - Individual Room creation and config management  - Meeting token creation and validation - Recording and compositing management  - Meeting analytics - Logs and metrics - Real-time presence  Please reach out to help@daily.co if we can help with anything

The version of the OpenAPI document: 1.1.1
Contact: help@daily.co
Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module Daily
  class RecordingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # recordings/:id
    # Delete a recording
    # @param recording_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteRecording200Response]
    def delete_recording(recording_id, opts = {})
      data, _status_code, _headers = delete_recording_with_http_info(recording_id, opts)
      data
    end

    # recordings/:id
    # Delete a recording
    # @param recording_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteRecording200Response, Integer, Hash)>] DeleteRecording200Response data, response status code and response headers
    def delete_recording_with_http_info(recording_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordingsApi.delete_recording ...'
      end
      # verify the required parameter 'recording_id' is set
      if @api_client.config.client_side_validation && recording_id.nil?
        fail ArgumentError, "Missing the required parameter 'recording_id' when calling RecordingsApi.delete_recording"
      end
      # resource path
      local_var_path = '/recordings/{recording_id}'.sub('{recording_id}', CGI.escape(recording_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteRecording200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordingsApi.delete_recording",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordingsApi#delete_recording\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # recordings/:id
    # Get info about a recording
    # @param recording_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetRecordingInfo200Response]
    def get_recording_info(recording_id, opts = {})
      data, _status_code, _headers = get_recording_info_with_http_info(recording_id, opts)
      data
    end

    # recordings/:id
    # Get info about a recording
    # @param recording_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRecordingInfo200Response, Integer, Hash)>] GetRecordingInfo200Response data, response status code and response headers
    def get_recording_info_with_http_info(recording_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordingsApi.get_recording_info ...'
      end
      # verify the required parameter 'recording_id' is set
      if @api_client.config.client_side_validation && recording_id.nil?
        fail ArgumentError, "Missing the required parameter 'recording_id' when calling RecordingsApi.get_recording_info"
      end
      # resource path
      local_var_path = '/recordings/{recording_id}'.sub('{recording_id}', CGI.escape(recording_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRecordingInfo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordingsApi.get_recording_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordingsApi#get_recording_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # recordings/:id/access-link
    # Generate an access link for a recording. The `download_link` is a short-lived signed URL: see the [access links guide](/docs/rest-api/access-links) for more information.
    # @param recording_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :valid_for_secs How long the returned &#x60;download_link&#x60; remains valid, in seconds. Accepts 900 (15 minutes) through 43200 (12 hours). A value outside that range returns a &#x60;400&#x60;.  Read the response&#39;s &#x60;expires&#x60; field rather than adding &#x60;valid_for_secs&#x60; to the current time. &#x60;expires&#x60; is the Unix timestamp at which the link stops working, and it is authoritative when Daily grants a shorter lifetime than the one requested.  Recordings stored in your own Amazon S3 bucket have a maximum link lifetime of 3600 seconds. A larger &#x60;valid_for_secs&#x60; still returns a &#x60;200&#x60;, with &#x60;expires&#x60; set one hour out and &#x60;validity_capped&#x60; set to &#x60;true&#x60;. Request a new link when you need the file again. Recordings in Daily storage and in customer-owned OCI Object Storage buckets are not affected. See [Custom S3 storage](/docs/guides/features/recording/custom-s3-storage#download-link-lifetime). (default to 3600)
    # @return [GetRecordingLink200Response]
    def get_recording_link(recording_id, opts = {})
      data, _status_code, _headers = get_recording_link_with_http_info(recording_id, opts)
      data
    end

    # recordings/:id/access-link
    # Generate an access link for a recording. The &#x60;download_link&#x60; is a short-lived signed URL: see the [access links guide](/docs/rest-api/access-links) for more information.
    # @param recording_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :valid_for_secs How long the returned &#x60;download_link&#x60; remains valid, in seconds. Accepts 900 (15 minutes) through 43200 (12 hours). A value outside that range returns a &#x60;400&#x60;.  Read the response&#39;s &#x60;expires&#x60; field rather than adding &#x60;valid_for_secs&#x60; to the current time. &#x60;expires&#x60; is the Unix timestamp at which the link stops working, and it is authoritative when Daily grants a shorter lifetime than the one requested.  Recordings stored in your own Amazon S3 bucket have a maximum link lifetime of 3600 seconds. A larger &#x60;valid_for_secs&#x60; still returns a &#x60;200&#x60;, with &#x60;expires&#x60; set one hour out and &#x60;validity_capped&#x60; set to &#x60;true&#x60;. Request a new link when you need the file again. Recordings in Daily storage and in customer-owned OCI Object Storage buckets are not affected. See [Custom S3 storage](/docs/guides/features/recording/custom-s3-storage#download-link-lifetime). (default to 3600)
    # @return [Array<(GetRecordingLink200Response, Integer, Hash)>] GetRecordingLink200Response data, response status code and response headers
    def get_recording_link_with_http_info(recording_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordingsApi.get_recording_link ...'
      end
      # verify the required parameter 'recording_id' is set
      if @api_client.config.client_side_validation && recording_id.nil?
        fail ArgumentError, "Missing the required parameter 'recording_id' when calling RecordingsApi.get_recording_link"
      end
      if @api_client.config.client_side_validation && !opts[:'valid_for_secs'].nil? && opts[:'valid_for_secs'] > 43200
        fail ArgumentError, 'invalid value for "opts[:"valid_for_secs"]" when calling RecordingsApi.get_recording_link, must be smaller than or equal to 43200.'
      end

      if @api_client.config.client_side_validation && !opts[:'valid_for_secs'].nil? && opts[:'valid_for_secs'] < 900
        fail ArgumentError, 'invalid value for "opts[:"valid_for_secs"]" when calling RecordingsApi.get_recording_link, must be greater than or equal to 900.'
      end

      # resource path
      local_var_path = '/recordings/{recording_id}/access-link'.sub('{recording_id}', CGI.escape(recording_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'valid_for_secs'] = opts[:'valid_for_secs'] if !opts[:'valid_for_secs'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRecordingLink200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordingsApi.get_recording_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordingsApi#get_recording_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # /recordings
    # List recordings
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :ending_before 
    # @option opts [String] :starting_after 
    # @option opts [String] :room_name 
    # @return [ListRecordings200Response]
    def list_recordings(opts = {})
      data, _status_code, _headers = list_recordings_with_http_info(opts)
      data
    end

    # /recordings
    # List recordings
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :ending_before 
    # @option opts [String] :starting_after 
    # @option opts [String] :room_name 
    # @return [Array<(ListRecordings200Response, Integer, Hash)>] ListRecordings200Response data, response status code and response headers
    def list_recordings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordingsApi.list_recordings ...'
      end
      # resource path
      local_var_path = '/recordings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'room_name'] = opts[:'room_name'] if !opts[:'room_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRecordings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordingsApi.list_recordings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordingsApi#list_recordings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # /recordings/test-oci-bucket
    # Verify that an OCI bucket configuration works, by uploading a small test file (`daily-co-test-upload.txt`) to it through the OCI S3 compatibility API.  Unlike S3 buckets, an OCI bucket configuration is **not** checked when you set it — the `Admit` policy may not have propagated yet (see the [custom OCI storage guide](/docs/guides/features/recording/custom-oci-storage)). Setting the property therefore succeeds even when the bucket is not usable, and this endpoint is how you confirm the setup before relying on it.  Only OCI buckets can be tested. Calling this against a bucket whose `storage_provider` is `aws` returns a `400`.  On success the response echoes the tested configuration under a key matching the `property` query parameter — `recordings_bucket` by default, or `transcription_bucket`. A `download_link` and `expires` are returned only when the configuration has `allow_api_access` set to `true`; the link is valid for one hour. Storage credentials are never included in the response.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property Which bucket property to test. Defaults to &#x60;recordings_bucket&#x60;. (default to 'recordings_bucket')
    # @option opts [String] :room_name Test the property set on this room instead of the domain-level property. There is no fallback to the domain configuration: if the room does not set the property, the request returns a &#x60;400&#x60;.
    # @return [TestOciBucket200Response]
    def test_oci_bucket(opts = {})
      data, _status_code, _headers = test_oci_bucket_with_http_info(opts)
      data
    end

    # /recordings/test-oci-bucket
    # Verify that an OCI bucket configuration works, by uploading a small test file (&#x60;daily-co-test-upload.txt&#x60;) to it through the OCI S3 compatibility API.  Unlike S3 buckets, an OCI bucket configuration is **not** checked when you set it — the &#x60;Admit&#x60; policy may not have propagated yet (see the [custom OCI storage guide](/docs/guides/features/recording/custom-oci-storage)). Setting the property therefore succeeds even when the bucket is not usable, and this endpoint is how you confirm the setup before relying on it.  Only OCI buckets can be tested. Calling this against a bucket whose &#x60;storage_provider&#x60; is &#x60;aws&#x60; returns a &#x60;400&#x60;.  On success the response echoes the tested configuration under a key matching the &#x60;property&#x60; query parameter — &#x60;recordings_bucket&#x60; by default, or &#x60;transcription_bucket&#x60;. A &#x60;download_link&#x60; and &#x60;expires&#x60; are returned only when the configuration has &#x60;allow_api_access&#x60; set to &#x60;true&#x60;; the link is valid for one hour. Storage credentials are never included in the response.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :property Which bucket property to test. Defaults to &#x60;recordings_bucket&#x60;. (default to 'recordings_bucket')
    # @option opts [String] :room_name Test the property set on this room instead of the domain-level property. There is no fallback to the domain configuration: if the room does not set the property, the request returns a &#x60;400&#x60;.
    # @return [Array<(TestOciBucket200Response, Integer, Hash)>] TestOciBucket200Response data, response status code and response headers
    def test_oci_bucket_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordingsApi.test_oci_bucket ...'
      end
      allowable_values = ["recordings_bucket", "transcription_bucket", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'property'] && !allowable_values.include?(opts[:'property'])
        fail ArgumentError, "invalid value for \"property\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/recordings/test-oci-bucket'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'property'] = opts[:'property'] if !opts[:'property'].nil?
      query_params[:'roomName'] = opts[:'room_name'] if !opts[:'room_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TestOciBucket200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RecordingsApi.test_oci_bucket",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordingsApi#test_oci_bucket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
